<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>AQI Station Finder</title>
</head>

<body>
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="inputKeyword">Keyword</label>
                <input type="text" class="form-control" id="inputKeyword" name="keyword" placeholder="Enter keyword (city, country etc.)">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {% if data %}
        <h4>Found stations:</h4>
        <ul>
            {% for station in data %}
            <li>{{ station }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</body>

</html>